<div class="app-container">
    <nav class="breadcrumb">
  {{breadcrumbs}}
    </nav>

  <article class="article">
    <header class="article__header">
      <h1>{{#if article.internal}}
        <span class="visibility-internal" data-title="{{t 'internal'}}">
          <span class="visibility-internal-icon"></span>
        </span>
      {{/if}} {{article.title}}</h1>{{subscribe}}
    </header>

    <div class="subtle-wrap">
      <div class="content-body article-body">
        {{article.body}}
      </div>
      <div class="article-attachments">
        <ul class="attachments">
          {{#each attachments}}
            <li>
              <a href="{{url}}" target="_blank">{{name}}</a>
              <span>({{size}})</span>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="article-more-questions">
        {{request_callout}}
      </div>
    </div>
  </article>

  <aside class="article-sidebar side-column">
    {{recent_articles}}
    {{related_articles}}
  </aside>
</div>
