<div class="app-container error-page">
    <img class="error-image" src="{{asset 'stressed-kid.svg'}}">
  <h1 class="h1">Il y a un problème...</h1>
  {{#is error 'unauthorized'}}
    <p>{{link 'sign_in'}}</p>
  {{/is}}

  {{#is error 'forbidden'}}
    <p>{{t 'not_authorized'}}</p>
  {{/is}}

  {{#is error 'not_found'}}
    <p>{{t 'nonexistent_page'}}.</p>
    <p>{{t 'mistyped_address_or_moved_page'}}.</p>
  {{/is}}

  {{#link 'help_center' class='button button--big button--outline'}}
    Retour
  {{/link}}
</div>
